mixin header(isMainPage)

  -
    var menuItems = [
      {
        name: 'О компании',
        sub: [
          'Первый пункт',
          'Второй пункт',
          'Третий пункт'
        ]
      },
      {
        name: 'Услуги',
        sub: [
          'Первый пункт',
          'Второй пункт',
          'Третий пункт'
        ]
      },
      {
        name: 'География'
      },
      {
        name: 'Закупки'
      },
      {
        name: 'Карьера',
        sub: [
          'Первый пункт',
          'Второй пункт',
          'Третий пункт'
        ]
      },
      {
        name: 'Сотрудникам'
      },
      {
        name: 'Контакты'
      }
    ]

  .mobile
    nav.mobile-menu.wrapper
      ul
        each item in menuItems
          if (item.hasOwnProperty('sub'))
            li
              button(type="button").open= item.name
              nav.mobile-menu-sub(style="display: block")
                ul
                  each sub in item.sub
                    li
                      a(href="#")= sub
          else
            li
              a(href="#")= item.name

  header.header
    .header-mobile
      a(href="#").header__logo
      button(type="button", data-target="#search-mobile").menu-search.js-search
      button(type="button").mobile__button.js-mobile
        span
        span
        span
        span
      form(action="#")#search-mobile.search-form
        input(type="text", placeholder="Введите запрос").search-form__input
        button(type="submit").button Найти
    if (isMainPage)
      .header-top
        .wrapper
          .header-line
            .header-left
              a(href="#").header__logo
            .header-right
              .weather-controls
                button(type="button", data-target="#preset-1").weather__button.js-weather.active Сегодня
                button(type="button", data-target="#preset-2").weather__button.js-weather За 3 дня
              section#preset-1.weather-hidden.show
                .weather-block
                  .weather-left -14°
                  .weather-right
                    .weather-right-line
                      span Влажность:
                      | 76%
                    .weather-right-line
                      span Давление:
                      | 770 мм
                    .weather-right-line
                      span Ветер:
                      | 4,2 м/с
              section#preset-2.weather-hidden
                .weather-block
                  p [ тут что-то еще ]
          .header-title Геологоразведочная компания<br>ООО «Горизонт»
    .header-bottom(class=(!isMainPage) ? 'with-logo' : '')
      .wrapper
        if (!isMainPage)
          a(href="#").header__logo
        nav.menu
          ul
            each item in menuItems
              if (item.hasOwnProperty('sub'))
                li.parent
                  a(href="#")= item.name
                  nav.menu-sub
                    ul
                      each sub in item.sub
                        li
                          a(href="#")= sub
              else
                li
                  a(href="#")= item.name
            li
              button(type="button", data-target="#search").menu-search.js-search
        form(action="#")#search.search-form
          input(type="text", placeholder="Введите запрос").search-form__input
          button(type="submit").button Найти
    #animation-trigger-1.abs.abs-35
